[submodule "bash-tools"]
	path = bash-tools
	url = https://github.com/HariSekhon/DevOps-Bash-tools
[submodule "spotify-tools"]
	path = spotify-tools
	url = https://github.com/harisekhon/spotify-tools
